.resources {
  margin: 0 auto;
}

.resources .resources__title {
  .set-default-title;
  width: 350px;
  display: block;
  margin: 0 auto;
  text-align: left;
}

.resources__title h2 {
  padding-top: 15px;
}
