.promo-item {
  width: 350px;
  margin: 0 auto;
}

.promo-item .promo-item__image {
  width: 348px;
}

.promo-item .promo-item__header {
  .set-default-header;
  width: 300px;
  margin: 18px auto;
}

.promo-item .promo-item__description {
  .set-default-paragraph;
  width: 300px;
  margin: 0 auto;
}
