  .header {
    margin: 0px auto;
  }

  .header .header__menu {
  }

  .header .header__logo {
    width: 100px;
    height: 25px;
    margin: 0;
    padding: 0;
  }

  .header__logo h1 {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
  }

  .header .header__nav {
  }

  .header__image {
    display: block;
  }
