.search {
  position: relative;
}

.search .search__button {
  display: block;
  background-image: url("../img/search.svg");
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  margin-left: 177px;
}

.search__button {
  outline: 0;
}

.search__input {
  display: none;
}

.search__input--show {
  display: block;
  width: 133px;
  margin-left: 20px;
  border-radius: 15px;
  border-color: #002147;
  padding: 3px 32px 3px 15px;
  animation: slideInRight;
  animation-duration: 0.28s;
}

.search__input--show:focus {
  outline: 0;
}

.search .search__button--show {
  display: none;
}

.search__button-close {
  display: none;
}

.search__button-close--show {
  display: block;
  background-image: url("../img/cancel.svg");
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 173px;
  top: 7px;
  animation-name: slideInRightForCloseButton;
  animation-duration: 0.28s;
}

.search__button-close--show:focus {
  outline: 0;
}

@media (min-width: @tablet-width) {
  .search .search__button {
    width: 30px;
    height: 30px;
    margin-left: 430px;
  }

  .search__input--show {
    width: 390px;
    padding: 4px 32px 4px 15px;
  }

  .search__button-close--show {
    display: block;
    background-image: url("../img/cancel.svg");
    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 428px;
    top: 7px;
    animation-name: slideInRightForCloseButton;
    animation-duration: 0.24s;
  }
}

@media (min-width: @desktop-width) {
  .search__input--show  {
    display: none;
  }

  .search__button-close--show {
    display: none;
  }

  .search .search__button {
    display: none;
  }
}
