.footer {
}

.footer .footer__description {
  display: block;
  width: 350px;
  margin: 0 auto;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}

.footer__description span {
  padding-left: 20px;
}

.footer .footer__logo {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}
