.burger {

}

.burger .burger__button {
  display: block;
  background-image: url("../img/menu.svg");
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  margin-left: 16px;
}
