.articles .articles__header {
  width: 350px;
  margin: 0 auto;
}

.articles__header h2 {
  position: relative;
  padding-left: 20px;
  font-weight: bold;
  text-align: left;
  color: #2a2a2a;
}

.articles__header h2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 32px;
  background-color: #002147;
  border: 2px solid #002147;
  border-radius: 0;
}

@media (min-width: @tablet-width) {
  .articles .articles__header {
    width: 660px;
  }
  .articles__header h2 {
    width: 660px;
    font-weight: 300;
    font-size: 30px;
    padding: 0;
    padding-top: 20px;
    text-align: center;
  }

  .articles__header h2::before {
    top: 67px;
    left: 260px;

    width: 150px;
    height: 4px;
  }
}
