.picture {
  margin: 0 auto;
}

.picture .picture__image {
  display: block;
  font-size: 0px;
  width: 350px;
  height: 250px;
  margin: 0 auto;
  padding: 0;
  outline: 7px solid white;
  border: none;
}
