.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list .nav-list__item {
  width: 350px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 300;
  background-color: #f5f7fa;
  border-top: 1px solid #cfd5e4;
  padding: 10px;
}

.nav-list__item a {
  color: #000000;
}

.nav-list__item[input] {
}

@media (min-width: @tablet-width) {
  .nav-list .nav-list__item  {
    width: 660px;
    padding: 15px;
  }
}
