.blog {
  width: 350px;
}

.blog .blog__header {
  .set-default-header;
  width: 320px;
  margin: 18px auto 14px auto;
}



.blog .blog__image {
  width: 350px;
}

.blog .blog__description {
  .set-default-paragraph;
  width: 300px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .blog {
    width: 300px;
  }

  .blog .blog__image {
    width: 300px;
    outline: 1px solid #f3f4f8;
  }

  .blog .blog__header {
    width: 300px;
    margin: 10px auto;

    font-size: 21px;
  }

  .blog .blog__description {
    margin: 0 auto;
    width: 280px;

    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .blog .blog__image {
    width: 960px;
    outline: 2px solid #f3f4f8;
  }

  .blog {
    width: 800px;
  }

  .blog .blog__header {
    width: 215px;
    font-size: 14px;
    margin: 10px auto;
    text-align: left;
  }

  .blog .blog__description {
    width: 215px;
    font-size: 12px;
    text-align: left;
  }
}
